// main: header.less

.page-header-nav {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .nav-container {
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;

        .logo {
            width: 162px;
            height: 46px;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .nav-menu {
            justify-self: end;
            list-style: none;
            display: flex;
            flex-flow: row nowrap;

            li {
                &:not(&:last-of-type) {
                    margin-right: 50px;
                }

                .nav-link {
                    font-size: 18px;
                    text-decoration: none;
                    color: #14171F;

                    &.active {
                        color: #F9995D;
                    }

                    &:hover {
                        color: #F9995D;
                    }
                }
            }
        }
    }
}