// main: ../style.less

.section {
    padding: 60px 0;

    &.muted {
        background-color: #F6F8F7;
    }

    &.background {
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .inner {
            width: 100%;
            padding: 60px 0;
            background: rgba(0, 0, 0, 0.7);
        }
    }

    &-container {
        .section-title {
            margin-bottom: 50px;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }
    }
}

.footer {
    .footer-main {
        padding: 85px 0;
        padding-bottom: 79px;

        &-container {}
    }

    .footer-second {
        padding: 25px 0;
        background-color: #2947A9;

        &-container {
            color: #fff;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
}